# {{ ansible_managed }}

[Unit]
Description=Respondd
After=network-online.target

[Service]
ExecStart=/opt/{{ site_code }}/respondd-announce/respondd.py -d /opt/{{ site_code }}/respondd-announce/providers -i {{ main_bridge }} -b {{ batman_interface }} -m {{ batman_ipv4 | ipaddr('address') }}
Restart=always
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/opt/{{ site_code }}/respondd-announce

[Install]
WantedBy=multi-user.target
