server {
	listen 80;
	listen [::]:80;

	proxy_set_header X-Forwarded-For $remote_addr;

	server_name _;

	location /.well-known/acme-challenge {
		default_type "text/plain";
		alias /var/www/acme-challenge;
	}

	root /var/www/html;

	# temp redirector server
	location /move.php {
		proxy_pass http://home.mephis.to:2342/move.php;
	}

	# updateserver @meph
	location /firmware-ng/experimental {
		proxy_pass http://home.mephis.to:2342/ff/experimental/images;
	}
	location /firmware-ng/stable {
		proxy_pass http://home.mephis.to:2342/ff/stable/images;
	}
	# post 11s
	location /firmware-11s/experimental {
		proxy_pass http://home.mephis.to:2342/ff/11s/experimental/images;
	}
	location /firmware-11s/stable {
		proxy_pass http://home.mephis.to:2342/ff/11s/stable/images;
	}
}

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	proxy_set_header X-Forwarded-For $remote_addr;

	server_name {{ ansible_fqdn }};

	ssl_certificate_key /etc/nginx/ssl/{{ ansible_fqdn }}.key;
	ssl_certificate /etc/nginx/ssl/{{ ansible_fqdn }}.crt;

	root /var/www/html;

	# updateserver @meph
	location /firmware-ng/experimental {
		proxy_pass http://home.mephis.to:2342/ff/experimental/images;
	}
	location /firmware-ng/stable {
		proxy_pass http://home.mephis.to:2342/ff/stable/images;
	}
	# post 11s
	location /firmware-11s/experimental {
		proxy_pass http://home.mephis.to:2342/ff/11s/experimental/images;
	}
	location /firmware-11s/stable {
		proxy_pass http://home.mephis.to:2342/ff/11s/stable/images;
	}
}
